<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>

<body>
    <h2>Express Js</h2>
    <h2> <%= 1 + 5  %> </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quidem quo deleniti odio, ut nihil temporibus
        tempora unde adipisci voluptates, repellendus ipsum. Dicta nostrum illo assumenda quibusdam aliquid totam
        aspernatur.</p>
    <button>Submit</button>
</body>

</html>