<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice</title>
</head>
<body>
    <h1>Value of Dice : <%= rollDice %> </h1>

    <% if (rollDice == 6) { %>
        <h3>Nice!</h3>
    <% } %>
</body>
</html>