<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <form action="/post" method="post">
        <input placeholder="Enter your username" type="username" name="username" id="">
        <br><br>
        <textarea placeholder="Write your post" name="content" id=""></textarea>
        <br><br>
        <button>Create Post</button>
    </form>
</body>

</html>